## Importing pandas

In [6]:
import pandas as pd

## Inserting the dataset

In [7]:
melbourne_file_path = './datasets/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)

## Listing the columns

In [12]:
melbourne_columns_list = list(melbourne_data.columns) 
print('Columns: ')
print(melbourne_columns_list)

Columns:
['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']

## Getting que 'Price' values (just  the top few lines)

In [17]:
melbourne_prices = melbourne_data.Price
print(melbourne_prices.head())

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

## Selecting two interesting columns

In [18]:
columns_of_interest = ['Suburb','Price']
columns_of_interest_data = melbourne_data[columns_of_interest]
print(columns_of_interest_data.head())

       Suburb      Price
0  Abbotsford  1480000.0
1  Abbotsford  1035000.0
2  Abbotsford  1465000.0
3  Abbotsford   850000.0
4  Abbotsford  1600000.0

## Description of both columns

In [22]:
columns_of_interest_data.describe()

              Price
count  1.358000e+04
mean   1.075684e+06
std    6.393107e+05
min    8.500000e+04
25%    6.500000e+05
50%    9.030000e+05
75%    1.330000e+06
max    9.000000e+06